.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin: 1px;
    display: inline-block;

    transition: color .3s ease;

    &:focus {
        outline: none;
    }

    &:hover {
        color: darken($color: white, $amount: 10);
    }

}

.btn-primary {
    background-color: $second;
    border-radius: 2px;

    &:disabled {
        background-color: lighten($color: $primary, $amount: 1);
    }

    &:hover {
        background-color: darken($color: $second, $amount: 15);
    }
}